@import "../../variables";
@import "../../mixins";

.activityContainerSquare {
    display: flex;
    flex-direction: column;
    width: 260px;
    height: 260px;
    position: relative;

    h2 {
        color: $dark-main-color;
    }

    box-shadow: 10px 10px 10px -6px black;
    // @include border();
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);

    img {
        width: auto;
        height: 150px;
    }

    button {
        position: absolute;
        width: 100%;
        height: 50px;
        bottom: 0;
        border: none;
        font-size: 20px;
        color: white;
        font-weight: 600;
        letter-spacing: 0.1em;
        box-shadow: 0px -8px 6px -6px black;
        background-color: rgb(59, 6, 110);
        
        &:hover {
            background-color: rgb(200, 6, 155);

        }
    }
}

.activityContainerCircle {
    height: 150px;
    width: 150px;
    box-shadow: $box-shadow;
    background-color: $almost-white-color;
    font-size: 16px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;


    img {
        width: 120px;
        height: auto;
    }

    .smallBtn {
        width: 30px;
        height: 30px;
        align-items: center;
        margin: auto;
        border-radius: 50%;
        position: absolute;
        background-color: $super-contrast;
        right: -10px;
    }
}