@import "../../variables";
@import "../../mixins";

.activitiesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin: auto;
    gap: 40px;
    margin-top: 100px;
}

.activityContainer {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;

    box-shadow: $box-shadow;
    align-items: center;
    @include border();
    background-color: rgba(255, 255, 255, 0.1);

    img {
        width: auto;
        height: 150px;

    }
    button {
        margin-top: 10px;
        @include button();
    }
}