@import "../../variables";
@import "../../mixins";

.activityContainerSquare {
    display: flex;
    flex-direction: column;
    width: 260px;
    height: 260px;
    position: relative;
    transition: transform 0.5s ease-in-out;

    &:hover {
        transform: scale(1.1);
    }

    @media screen and (max-width: 1366px) {
        width: 200px;
        height: 200px;
    }

    h2 {
        color: $almost-white-color;
    }

    box-shadow: 10px 10px 10px -6px black;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.2);

    img {
        width: auto;
        height: 150px;

        @media screen and (max-width: 1366px) {
            height: 120px;
            width: auto
        }
    }

    button {
        width: 100%;
        height: 50px;
        border: none;
        border-radius: 0;
        font-size: 20px;
        color: white;
        font-weight: 600;
        letter-spacing: 0.1em;
        box-shadow: 0px -8px 6px -6px black;
        text-shadow: 1px 1px 1px black;
        font-size: 22px;
        font-weight: 800;
        position: absolute;
        background-color: $contrast-color;
        left: 0;
        bottom: 0;
        cursor: pointer;

        &:hover {
            background-color: $medium-main-color;

        }
    }

    .addedButton {
        background-color: $medium-main-color;
        &:hover {
            background-color: $contrast-color;
        }
    }



    @media screen and (max-width: 1366px) {
        font-size: 18px;
        height: 30px;
    }
}


.activityContainerCircle {
    height: 150px;
    width: 150px;
    box-shadow: $box-shadow;
    background-color: rgba(255, 255, 255, 0.2);
    font-size: 16px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;


    img {
        width: 120px;
        height: auto;
    }

    .smallBtn {
        width: 30px;
        height: 30px;
        align-items: center;
        margin: auto;
        border-radius: 50%;
        position: absolute;
        background-color: $super-contrast;
        right: -10px;

        &:hover {
            color: rgb(209, 1, 1);
        }
    }
}