@import "../../variables";
@import "../../mixins";

.activityContainerSquare {
    display: flex;
    flex-direction: column;
    width: 260px;
    height: 260px;
    position: relative;
    transition: transform 0.5s ease-in-out;

    &:hover {
        transform: scale(1.1);
    }

    @media screen and (max-width: 1366px) {
        width: 200px;
        height: 200px;
    }

    h2 {
        color: $almost-white-color;
    }

    box-shadow: 10px 10px 10px -6px black;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.2);

    img {
        width: auto;
        height: 150px;

        @media screen and (max-width: 1366px) {
            height: 120px;
            width: auto
        }
    }

    button {
        width: 100%;
        height: 50px;
        border: none;
        border-radius: 0;
        font-size: 22px;
        font-weight: 800;
        position: absolute;
        background-color: $contrast-color;
        left: 0;
        bottom: 0;
        cursor: pointer;
        box-shadow: 0px -8px 6px -6px black;
        text-shadow: 1px 1px 1px black;
        color: rgba(255, 255, 255, 0.2);
        transition: 0.5s;
        z-index: 1;

        &:hover {
            background-color: $medium-main-color;
            color: rgba(255, 255, 255, 1);
        }

        &::before {
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            // background: linear-gradient(45deg, #fb0094, #00f, #0f0, #ff0, #f00 #fb0094, #00f, #0f0, #ff0, #f00);
            background: linear-gradient(45deg, #fb0094, #00f, #0f0, #ff0, #f00);
            background-size: 400%;
            opacity: 0;
            transform: 0.5s;
            animation: animate 20s linear infinite;

        }

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(45deg, #fb0094, #00f, #0f0, #ff0, #f00, #fb0094, #00f, #0f0, #ff0, #f00);
            background-size: 400%;
            opacity: 0;
            filter: blur(20px);
            transform: 0.5s;
            animation: animate 20s linear infinite;

        }

        &:hover::before,
        :hover::after {
            opacity: 1;
        }

        @keyframes animate {
            0% {
                background-position: 0 0;
            }

            50% {
                background-position: 330% 0;
            }

            100% {
                background-position: 0 0;
            }
        }

    }

    .addedButton {
        background-color: $medium-main-color;

        &:hover {
            background-color: $contrast-color;
        }
    }



    @media screen and (max-width: 1366px) {
        font-size: 18px;
        height: 30px;
    }
}


.activityContainerCircle {
    height: 150px;
    width: 150px;
    box-shadow: $box-shadow;
    background-color: rgba(255, 255, 255, 0.2);
    font-size: 16px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    img {
        width: 120px;
        height: auto;
    }

    .smallBtn {
        width: 30px;
        height: 30px;
        align-items: center;
        margin: auto;
        border-radius: 50%;
        position: absolute;
        background-color: $super-contrast;
        right: -10px;

        &:hover {
            color: rgb(209, 1, 1);
        }
    }
}



// button {
//     width: 100%;
//     height: 50px;
//     border: none;
//     border-radius: 0;
//     font-size: 22px;
//     font-weight: 800;
//     position: absolute;
//     background-color: $contrast-color;
//     left: 0;
//     bottom: 0;
//     cursor: pointer;

//     &:hover {
//         background-color: $medium-main-color;
//         color: rgba(255, 255, 255, 1);
//     }
// }