@import "../../variables";
@import "../../mixins";

section {
    background-color: $main-color;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    /* height: 100vh;   */
    /* background-size: cover;
    background-position: center; */
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 410px;
    height: 480px;
    background: transparent;
    box-shadow: 0px -1px 50px 12px $dark-main-color;
    position: absolute;
    top: 440px;

    @include border();
    .noAccount {
        position: relative;
        top: 30px;
    }

    h2 {
        font-size: 2em;
        color: $almost-white-color;
        text-align: center;
    }
    .registerTitle {
        position: relative;
        top: 10px;
    }
    .haveAnAcount {
        position: relative;
        top: 12px;
    }
    .text-danger,
    .form-text {
        color: red;
    }
    .btn-primary {
        @include button()
    }
    .registerLink {
        text-decoration: none;
    
        /* Цвят на "Don't have an account?" */
        color: $almost-white-color;
        a {
            color: $almost-white-color;
            text-decoration: none;
            font-weight: 600;
            &:hover {
                color: $super-contrast;
            }
        }
        
    }
}


.inputBox {
    position: relative;
    width: 336px;
    margin: 30px;

    /* Цвят на хоризонталните линии */
    border-bottom: 2px solid $almost-white-color;

    label {
        position: absolute;
        top: 50%;
        left: 5px;
        transform: translateY(-50%);
        /* Цвят на Username и Passoword текста */
        color: $almost-white-color;
        font-weight: 400;
        pointer-events: none;
        transition: .5s;
    }

    input {
        &:focus~label,
        &:valid~label {
            top: -5px;
        }
        width: 100%;
        height: 46px;
        background: transparent;
        border: none;
        outline: none;

        /* Цвят на курсора и текста при писане */
        color: #f0eded;
    }

    .icon {
        position: absolute;
        right: 8px;
        color: $super-contrast;
        font-size: 1.2em;
        line-height: 57px;
    }
    @media (max-width: 360px) {
        .inputBox {
            width: 100%;
            height: 100vh;
            border: none;
            border-radius: 0;
        }
    }
}


.bannerImage1 {
    height: 700px;
    width: auto;
    position: absolute;
    bottom: 130px;
    left: 180px;
    z-index: 2;
}
.bannerImage2{
    height: 1100px;
    width: auto;
    position: absolute;
    bottom: 130px;
    left: 840px;
    // z-index: 3;
}
.bannerImage3 {
    height: 800px;
    width: auto;
    position: absolute;
    bottom: 400px;
    left: 800px;
}
.bannerImage4 {
    height: 700px;
    width: auto;
    position: absolute;
    bottom: 130px;
    right: 100px;
}
.bannerImage5 {
    height: 1000px;
    width: auto;
    position: absolute;
    bottom: 130px;
    right: 600px;
}


.loginForm {
    height: 480px;
}

.registrationForm {
    height: 556px;
}
