@import "../../variables";
@import "../../mixins";


section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginPageHolder {
    width: 100%;
    height: calc(100vh - 100px); /* Subtracting the footer height from the viewport height */
    background-image: url('../../images/projectBackground1.png');
    background-repeat: no-repeat;
    background-size: cover; /* This property makes the image cover the entire container while maintaining its aspect ratio */
    background-position: bottom; /* This property positions the image at the top of the container */
  
}
.background {
    width: 100%;
    height: auto;
    object-fit: cover;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 410px;
    height: 480px;
    position: absolute;
    top: 20%;
    background: transparent;
    box-shadow: 0px -1px 50px 12px $dark-main-color;
    position: absolute;
    top: 440px;
    z-index: 20;
    @include border();

    .noAccount {
        position: relative;
        top: 30px;
    }

    h2 {
        font-size: 2em;
        color: $almost-white-color;
        text-align: center;
    }

    .registerTitle {
        position: relative;
        top: 10px;
    }

    .haveAnAcount {
        position: relative;
        top: 12px;
    }

    .text-danger,
    .form-text {
        color: red;
    }

    .btn-primary {
        @include button()
    }

    .registerLink {
        text-decoration: none;

        /* Цвят на "Don't have an account?" */
        color: $almost-white-color;

        a {
            color: $almost-white-color;
            text-decoration: none;
            font-weight: 600;

            &:hover {
                color: $super-contrast;
            }
        }
    }

    @media (max-width: 1980px) {
        top: 10%;
        align-items: center;
        justify-items: center;
    }
    @media (max-width: 1366px) {
        top: 10%;
        align-items: center;
        justify-items: center;
    }
}


.inputBox {
    position: relative;
    width: 336px;
    margin: 30px;
    border-bottom: 2px solid $almost-white-color;

    label {
        position: absolute;
        top: 50%;
        left: 5px;
        transform: translateY(-50%);
        color: $almost-white-color;
        font-weight: 400;
        pointer-events: none;
        transition: .5s;
    }

    input {

        &:focus~label,
        &:valid~label {
            top: -5px;
        }

        width: 100%;
        height: 46px;
        background: transparent;
        border: none;
        outline: none;
        color: #f0eded;
    }

    .icon {
        position: absolute;
        right: 8px;
        color: $super-contrast;
        font-size: 1.2em;
        line-height: 57px;
    }

    @media (max-width: 360px) {
        .inputBox {
            width: 100%;
            height: 100vh;
            border: none;
            border-radius: 0;
        }
    }
}


.bannerImage1 {
    height: 54%;
    width: auto;
    position: absolute;
    bottom: 8%;
    left: 8%;
    z-index: 2;

    @media (max-width: 1366px) {
        position: absolute;
        height: 50%;
        left: 0%;
        bottom: 16%;
    }
}

.bannerImage2 {
    height: 78%;
    width: auto;
    position: absolute;
    bottom: 9%;
    left: 28%;
    z-index: 3;

    @media (max-width: 1366px) {
        position: absolute;
        height: 70%;
        left: 22%;
        bottom: 16%;
    }
}


.bannerImage3 {
    height: 54%;
    width: auto;
    position: absolute;
    bottom: 9%;
    right: 0%;

    @media (max-width: 1366px) {
        position: absolute;
        height: 50%;
        right: 0%;
        bottom: 10%;
    }

}

.bannerImage4 {
    height: 70%;
    width: auto;
    position: absolute;
    bottom: 9%;
    right: 22%;

    @media (max-width: 1366px) {
        position: absolute;
        height: 70%;
        right: 13%;
        bottom: 16%;
    }

}

.loginForm {
    height: 480px;
}

.registrationForm {
    height: 556px;
}