@import "../../variables";
@import "../../mixins";

.sportsPageContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin: auto;
    gap: 40px;
    margin-top: 45px;
    margin-bottom: 200px;
}

.searchWrapper {
    display: flex;
    justify-content: center;
}

.selectSearch {
    @include select();
}