.buddyCardContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin: auto;
    gap: 40px;
    margin-top: 45px;
    margin-bottom: 200px;
}

.buddyCard {
    width: fit-content;
    margin-top: 30px;
    box-shadow: -1rem 0 3rem #000;
    transition: 0.4s ease-out;
    border-width: 6px;
    border-style: solid;
    border-image: linear-gradient(to right, rgb(38, 38, 219), rgb(239, 160, 0)) 1;
    border-radius: 10px;
    // border-image: linear-gradient(to right, rgb(142, 170, 2), rgb(0, 114, 136)) 1;

    &:hover {
        transform: translateY(-10px);
        transition: 0.4s ease-out;
    }

    img {
        height: 200px;
        width: 300px;
        padding: 5px;
        background: transparent;
        border: 2px solid rgba(255, 255, 255, .5);
        justify-content: center;
        align-items: center;
    }

    .inner {
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    a {
        color: white;
    }

    form {
        width: 100px;
        height: 100px;
    }

    h3,
    p,
    img {
        display: flex;
        justify-content: center;
        font-size: 20px;
    }

}

.buddySearchWrapper {
    display: flex;
    justify-content: center;
}

.buddySearchSelect {
    background-color: rgb(255, 255, 255);
    padding: 5px;
    color: rgb(5, 5, 5);
    border: 2px solid black;
    margin: 5px 5px 5px 9px;
    height: 38px;
}