@import "../../variables";
@import "../../mixins";


.profilePageContainer {
    width: 80%;
    margin: auto;
    margin-top: 100px;
    text-align: center;

    .profileInfo {
        // position: relative;
        width: 860px;
        margin: auto;
        display: flex;
        color: $almost-white-color;
        background-color: rgba(255, 255, 255, 0.2);
        height: 400px;
        box-shadow: $box-shadow;
        border-radius: 10px;

        // @include gradientBorder();
        .userInfo {
            width: 500px;

            button {
                @include button();
                width: 100px;
                background-color: $contrast-transperant;
            }
        }

    }

    .profileImage img {
        box-sizing: border-box;
        width: 500px;
        height: 400px;
        margin: 0;
        object-fit: cover;
        // box-shadow: inset 0 0 10px black;
    }
    

    input[type=file] {
        border: none;
    }

    button {
        @include button();
        width: 100px;
        color: $almost-white-color;
        background-color: $contrast-transperant !important;

        &:hover {
            color: $contrast-transperant;
            text-shadow: 1px 1px 1px black;
        }
    }

    p {
        font-size: 22px;
        color: $almost-white-color;

    }

    .activitiesList {
        margin: 100px;
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
        justify-content: center;
    }

    h3 {
        margin: 50px 0 0 0;
        font-size: 32px;
    }

    input,
    select {
        background-color: $contrast-transperant;
        color: $almost-white-color;
        box-sizing: border-box;
        border-radius: 40px;
        width: 200px;
        height: 30px;
        border: none;
        align-items: center;
        text-align: center;
        margin: 0 10px;
        font-size: 16px;
        font-family: inherit;
        &::placeholder {
            color: $almost-white-color;
        }
    }

    #file-upload-button {
        border-radius: 40px; // za6to ne raboti
    }

  
}