@import "../../variables";
@import "../../mixins";


.profilePageContainer {
    width: 60%;
    margin: auto;
    margin-top: 100px;
    text-align: center;
    color: $almost-white-color;



    .profileImage img {
        @include border();
        width: 300px;
        height: auto;
    }

    button {
        @include button();
        width: 100px;
        background-color: $super-contrast;
    }

    p {
        font-size: 22px;

    }

    h3 {
        margin: 5% 0 2% 0;
        font-size: 32px;
        color: $almost-white-color;
    }


    .activitiesList {
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
        justify-content: center;
    }

    input,
    select {
        // background-color: rgba(255, 255, 255, 0.3);
        background-color: $super-contrast;
        box-sizing: border-box;
        border-radius: 40px;
        width: 200px;
        height: 30px;
        border: none;
        align-items: center;
        text-align: center;
        margin: 0 10px;
        font-size: 16px;
        font-family: inherit;
    }

    #file-upload-button {
        border-radius: 40px; // za6to ne raboti
    }
}