@import "../../variables";

.homeContainer {
    position: relative;
    .siteNameTitle {
        display: flex;
        justify-content: center;
        font-size: 6em;
        font-style: italic;
        color: $almost-white-color;
        width: 15%;
        margin-left: 20%;

       
    }
    
    .siteSloganTitle {
        display: flex;
        color: $almost-white-color;
        font-size: 2em;
        width: 20%;
        margin-left: 20%;
        margin-top: -2%;
        font-style: italic;
        letter-spacing: 0.05em;
        // transform: rotate(-45deg);

    }
    .homeCardContainerWrapper {
        margin-top: 2%;
    }
    h2 {
        color: $almost-white-color;
        text-shadow: 2px 2px 2px black;
    }
    
    .logo {
        display: flex;
        justify-content: center;
    }
    
}
