@import "../../variables";


.homeCardContainerWrapper {
    display: flex;
    justify-content: center;
    margin: 150px;

    .homeCardContainer {
        display: flex;
        flex-direction: column;
        width: 200px;
        height: 300px;
        align-items: center;

        img {
            width: 100px;
            height: auto;
        }

        a {
            text-decoration: none;
        }

        h2 {
            color: $almost-white-color;
            font-size: 28px;
        }

        h2:hover {
            color: $super-contrast;
        }
    }
}