@import "../../variables";
@import "../../mixins";

.activitiesPageContainer {
    position: relative;
    .activitiesContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 70%;
        margin: auto;
        gap: 40px;
        margin-top: 100px;
    }
    
    .siteNameTitle {
        color: $almost-white-color;
        width: 200px;
        font-size: 44px;
        text-align: right;
        margin-left: 240px;
        margin-top: -870px;
    }
    
}