@import "../../variables";
@import "../../mixins";

.activitiesPageContainer {
    position: relative;
    .activitiesContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 70%;
        margin: auto;
        gap: 40px;
        margin-top: 100px;
        margin-bottom: 200px;
        
    }
    
    .activitiesList {
        margin-top: 100px;
        position: absolute;
        top: 200px;
        left: 15%;
    }
    
    .siteNameTitle {
        color: $almost-white-color;
        width: 360px;
        font-size: 32px;
        position: absolute;
        left: 4%;
        text-align: right;
        transform: rotate(-45deg);
    }
    
}