@import "../../variables";

.chatPage {
    height: calc(100vh - 460px);
    .chatContainer {
        background-color: rgba(255, 255, 255, 0.2);
        padding: 20px;
        border: 1px solid $contrast-color;
        border-radius: 10px;
        width: 500px;
        margin: 0 auto;
        font-size: $font-size;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin-top: 10vh;
    
        h1 {
            font-size: 24px;
            margin-bottom: 10px;
            color: $almost-white-color;
            text-align: center;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
        }
        .shortTimestamp {
            display: flex;
            justify-content: center;
        }
    
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            max-height: 50vh;
            overflow-y: auto;
    
            &::-webkit-scrollbar {
                display: none;
            }
    
            li {
                display: flex;
                flex-direction: column;
                margin-bottom: 10px;
                padding: 10px;
                border-radius: 5px;
                box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
                font-size: 18px;
                word-wrap: break-word;
                white-space: pre-wrap;
                padding: 10px;
                margin: 10px;
                color: white;
    
                &.sender {
                    margin-left: 100px;
                    align-self: flex-start;
                    border-bottom-left-radius: 0;
                    background-color: rgba(255, 255, 255, 0.2);
                }
                
                &.receiver {
                    background-color: $contrast-transperant;
                    margin-right: 100px;
                    align-self: flex-end;
                    border-bottom-right-radius: 0;
    
                }
            }
        }
    
    
        .messagesForm {
            height: 100px;
            margin-top: 20px;
            width: calc(100% - 40px);
            display: flex;
            justify-content: center;
            align-items: center;
            width: 500px;
    
            label {
                font-weight: bold;
                margin-right: 10px;
                color: $contrast-color;
            }
    
            input {
                flex: 1;
                flex-wrap: wrap;
                padding: 10px;
                font-size: $font-size;
                border: 1px solid $contrast-color;
                border-radius: 10px;
                box-shadow: none;
    
                &:focus {
                    outline: none;
                    box-shadow: 0 0 3px $contrast-color;
                }
            }
    
            button {
                background-color: $contrast-color;
                padding: 10px 20px;
                border: none;
                border-radius: 10px;
                cursor: pointer;
                transition: background-color 0.2s;
                color: white;
                height: 40px;
    
                &:hover {
                    background-color: $medium-main-color;
                }
            }
        }
    }

}