@import "../../variables";


.chatPage {
    display: flex;
    width: 75vh;
    margin: auto;
    position: relative;
    margin-top: 10vh;
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid $contrast-color;
    border-radius: 10px;
    box-shadow: 20px 20px 20px 20px rgba(0, 0, 0, 0.5);

    h1 {
        font-size: 24px;
        padding-top: 20px;
        color: $almost-white-color;
        text-align: center;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    }

    .senderReply {
        display: flex;


        .senderInfo {
            display: flex;
            align-items: center;
            margin-bottom: 5px;

            img {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                object-fit: cover;
            }

            .senderName {
                margin-right: 8px;
                color: $almost-white-color;
                font-weight: bold;
            }
        }
    }
    


    .chatContainer {

        width: 50vh;
        height: 70vh;
        box-sizing: border-box;
        padding: 0 20px;

        font-size: $font-size;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;



        .shortTimestamp {
            display: flex;
            justify-content: center;
        }

        ul {
            li {

                display: flex; // Add this line
                align-items: center;
                flex-direction: row;
                margin-bottom: 10px;
                border-radius: 5px;
                box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
                font-size: 18px;
                word-wrap: break-word;
                white-space: pre-wrap;
                padding: 10px;
                margin: 10px;
                color: white;
                align-items: center;

                .messageText {
                    height: 40px;
                    padding: 5px 0 0 10px;
                    border-radius: 10px;
                }

                &.sender .messageText {
                    width: 30vh;
                    margin-left: 100px;
                    background-color: rgba(255, 255, 255, 0.2);
                    border-bottom-right-radius: 0;
                }

                &.receiver .messageText {
                    width: 35vh;
                    background-color: $contrast-transperant;
                    border-bottom-left-radius: 0;

                }
            }

            .messageContent {
                display: flex;
                align-items: center;
            }

            .senderInfo {
                display: flex;
                align-items: center;
                margin-right: 10px; // Add spacing between the image and the text

                img {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }
        }


        .messagesForm {
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30vh

            label {
                font-weight: bold;
                margin-right: 10px;
                color: $contrast-color;
            }

            input {
                flex: 1;
                flex-wrap: wrap;
                padding: 10px;
                font-size: $font-size;
                border: 1px solid $contrast-color;
                border-radius: 10px;
                box-shadow: none;

                &:focus {
                    outline: none;
                    box-shadow: 0 0 3px $contrast-color;
                }
            }

            button {
                background-color: $contrast-color;
                padding: 10px 20px;
                border: none;
                border-radius: 10px;
                cursor: pointer;
                transition: background-color 0.2s;
                color: white;
                height: 40px;

                &:hover {
                    background-color: $medium-main-color;
                }
            }
        }
    }


    .conversationList {
        box-sizing: border-box;
        width: 25vh;
        height: 70vh;
        border-right: 1px solid $contrast-color;

        h1 {
            padding-top: 70px;
        }


        li {
            height: 30px;
            padding: 10px 20px 10px 70px;
            font-size: 18px;
            cursor: pointer;

            .receiverImage {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                object-fit: cover;
                position: absolute;
                left: 30px;
            }

            &:hover {
                background-color: rgba(21, 172, 142, 0.4);
                color: white;
            }
        }
    }

    ul {
        list-style: none;
        max-height: 50vh;
        overflow-y: auto;
        padding: 0;
    }

    img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
    }
}

.emoji {
    img {
        height: 30px;
        width: 30px;
        vertical-align: middle;
    }
}
