@import "../../variables";

.navbar {
  background-color: $dark-main-color;
  display: flex;
  width: 100%;
  height: 100px;
  justify-content: center;
  box-shadow: $box-shadow;
}

.nav-links {
  display: flex;
  flex-direction: row;
  width: 800px;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  margin: 10px;
  background-color: $dark-main-color;

  li {
    &:first-child a {
      font-weight: 700;
    }

    a {
      text-decoration: none;
      color: $almost-white-color;
      font-size: 20px;
      font-weight: 300;

      &:hover {
        color: white;
      }
    }
  }
}

footer {
  background-color: $dark-main-color;
  width: 100%;
  justify-content: center;
  text-align: center;
  align-items: center;
  position: static;
  bottom: 0;
  padding: 15px;
  font-size: 18px;
  height: 100px;
  color: $almost-white-color;
  box-shadow: 0px -8px 6px -6px black;
  position: fixed;
  bottom: 0;
}

.userHolder {
  position: absolute;
  width: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: $almost-white-color;
  top: 14px;
  right: 80px;

  p {
    position: absolute;
    width: 100px;
    top: 10px;
    right: 100px;
  }

  button {
    width: 80px;
    position: absolute;
    top: 0;
    right: 20px;
    background-color: $medium-main-color;
  }
}

footer {
  p {
    color: $almost-white-color;
    font-weight: 300;
  }

  a {
    color: $almost-white-color;
    font-size: 30px;
    margin: 10px;
  }
}

.errorImage {
  display: flex;
  justify-content: center;
}