.navbar {
    background-color: var(--dark-main-color);
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: center;
    box-shadow: var(--box-shadow);
  }
  
  .nav-links {
    display: flex;
    flex-direction: row;
    width: 800px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin: 10px;
    background-color: var(--dark-main-color);
  }
  
  .nav-links li:first-child a {
    font-weight: 700;
  }
  
  .nav-links li a {
    text-decoration: none;
    color: var(--almost-white-color);
    font-size: 20px;
    font-weight: 300;
  }
  
  .nav-links li a:hover {
    color: white;
  }
  
  footer {
    background-color: var(--dark-main-color);
    width: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: static;
    bottom: 0;
    padding: 15px;
    font-size: 18px;
    height: 100px;
    color: var(--almost-white-color);
    box-shadow: 0px -8px 6px -6px black;
    position: fixed;
    bottom: 0;
  }
  
  .userHolder {
    position: absolute;
    width: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: var(--almost-white-color);
    top: 14px;
    right: 80px;
  }
  
  .userHolder p {
    position: absolute;
    width: 100px;
    top: 10px;
    right: 100px;
  }
  
  .userHolder button {
    width: 80px;
    position: absolute;
    top: 0;
    right: 20px;
    background-color: var(--medium-main-color);
  }
  
  footer p {
    color: var(--almost-white-color);
    font-weight: 300;
  }
  
  footer a {
    color: var(--almost-white-color);
    font-size: 30px;
    margin: 10px;

  }

  .errorImage {
    display: flex;
    justify-content: center;
  }