@import "../../variables";
@import "../../mixins";

.buddyCard {
    width: 419px;
    margin-top: 30px;
    height: auto;
    box-shadow: -1rem 0 3rem #000;
    transition: 0.4s ease-out;
    border-width: 6px;
    border-style: solid;
    border-image: linear-gradient(to right, $contrast-transperant, $almost-white-color) 1;

    &:hover {
        transform: translateY(-10px);
        transition: 0.4s ease-out;
    }

    img {
        height: 200px;
        width: 400px;
        object-fit: cover;
        padding: 5px;
        background: transparent;
        border: 2px solid rgba(255, 255, 255, 0.5);
        justify-content: center;
        align-items: center;
    }

    .inner {
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    h3,
    img {
        display: flex;
        justify-content: center;
        font-size: 20px;
        margin: auto;
    }

    p {
        font-size: 16px;
        text-align: center;
    }
}

.chatBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;

    @include button();
    width: 100px;
    margin-bottom: 30px;
    background-color: $contrast-transperant;
    color: $almost-white-color;

    &:hover {
        background-color: $medium-main-color;
    }
}