@mixin button() {
    position: relative;
    top: 10px;
    width: 80%;
    height: 40px;
    background: $almost-white-color;
    border: none;
    border-radius: 40px;
    color: black;
    font-weight: 600;
    font-size: 17px;
    box-shadow: $box-shadow;

    &:hover {
        background-color: $super-contrast;
    }
}

@mixin border(){
    border: 2px solid $super-contrast;
    border-radius: 20px;
    background: transparent;
    backdrop-filter: blur(15px);
    box-shadow: $box-shadow;
}

@mixin search(){
    border: none;
    border-radius: 15px;
    padding: 5px;
    height: 30px;
    width: 160px;
    margin: auto;
    margin-bottom: 50px;
    box-shadow: $box-shadow;
    background-color: rgba(255, 255, 255, 0.2);

}