@mixin button() {
    position: relative;
    top: 10px;
    right: 5px;
    width: 80%;
    height: 40px;
    background: $almost-white-color;
    border: none;
    border-radius: 40px;
    color: black;
    font-weight: 600;
    font-size: 17px;
    box-shadow: $box-shadow;
    cursor: pointer;

    &:hover {
        background-color: $super-contrast;
    }
}

@mixin border() {
    border: 2px solid $super-contrast;
    border-radius: 20px;
    background: transparent;
    backdrop-filter: blur(15px);
    box-shadow: $box-shadow;
}

@mixin search() {
    border: none;
    font-size: 18px;
    border-radius: 15px;
    padding: 10px;
    height: 30px;
    width: 160px;
    margin: auto;
    margin-bottom: 50px;
    box-shadow: $box-shadow;
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center
}

@mixin select {
    @include search();
    color: $almost-white-color;
    font-size: 18px;
    width: 300px;
    height: 40px;
    margin-top: 50px;
    cursor: pointer;

    option {
        background-color: $light-main-color;
    }
}

@mixin gradientBorder {
    border-width: 6px;
    border-style: solid;
    border-image: linear-gradient(to right, $contrast-transperant, $almost-white-color) 1;
    border-radius: 10px;
}

@mixin sphere {
    border-radius: 110px;
    position: absolute;
}