$dark-main-color: rgb(0,0,8);
$medium-main-color: rgb(1,43,67);
$light-main-color: rgb(49, 109, 144);
$almost-white-color: rgb(201, 214, 222);
$contrast-color: rgb(1,146,118);
$contrast-transperant: rgba(21, 172, 142, 0.8);
$box-shadow: 0 8px 6px -6px black;
$super-contrast: rgb(180, 213, 14);
$font-size: 16px;



