$dark-main-color: rgb(0,0,8);
$medium-main-color: rgb(1,43,67);
$light-main-color: rgb(49, 109, 144);
$almost-white-color: rgb(201, 214, 222);
$contrast-color: rgb(1,146,118);
$box-shadow: 0 8px 6px -6px black;
$super-contrast: rgb(180, 213, 14);

// $dark-main-color: rgb(26, 29, 47);
// $main-color: rgb(45, 50, 80);
// $medium-main-color: rgb(67, 70, 105);
// $lighter-main-color: rgb(100, 111, 157);
// $almost-white-color: rgb(211, 215, 231);
// $contrast-color: rgb(242, 0, 112);
// $box-shadow: 0 8px 6px -6px black;
// $super-contrast: rgb(180, 213, 14);

