section {
    /* Цвят на главния фон */
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.loginForm,
.registrationForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 410px;
    height: 480px;
    background: transparent;
    /* Цвят на рамката на формата */
    border: 2px solid var(--contrast-color);
    border-radius: 20px;
    background: transparent;
    backdrop-filter: blur(15px);
    /* Цвят на фоновото осветление на формата :D */
    box-shadow: 0px -1px 50px 12px var(--dark-main-color);
}
.loginForm {
    height: 480px;
}

.registrationForm {
    height: 556px;
}

.haveAnAcount {
    position: relative;
    top: 12px;
}

.registerTitle {
    position: relative;
    top: 10px;
}


h2 {
    font-size: 2em;
    /* Цвят на Login заглавието*/
    color: var(--almost-white-color);
    text-align: center;
}

.inputBox {
    position: relative;
    width: 336px;
    margin: 30px;
    /* Цвят на хоризонталните линии */
    border-bottom: 2px solid var(--almost-white-color);
}

.inputBox label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    /* Цвят на Username и Passoword текста */
    color: var(--almost-white-color);
    font-weight: 400;
    pointer-events: none;
    transition: .5s;
}

.inputBox input:focus~label,
.inputBox input:valid~label {
    top: -5px;
}

.inputBox input {
    width: 100%;
    height: 46px;
    background: transparent;
    border: none;
    outline: none;
    /* Цвят на курсора и текста при писане */
    color: #f0eded;
}

.inputBox .icon {
    position: absolute;
    right: 8px;
    /* Цвят на иконите */
    color: var(--contrast-color);
    font-size: 1.2em;
    line-height: 57px;
}

@media (max-width: 360px) {
    .inputBox {
        width: 100%;
        height: 100vh;
        border: none;
        border-radius: 0;
    }
}

.btn-primary {
    position: relative;
    top: 10px;
    width: 80%;
    height: 40px;
    background: var(--almost-white-color);
    border: none;
    border-radius: 40px;
    color: black;
    font-weight: 600;
    font-size: 17px;
    box-shadow: var(--box-shadow);
}

.btn-primary:hover {
    background-color: var(--contrast-color);
    /* color: white; */
}

.registerLink {
    margin-top: 40px;
    text-decoration: none;
    /* Цвят на "Don't have an account?" */
    color: var(--almost-white-color);
}

.noAccount {
    position: relative;
    top: 30px;  
}

.registerLink p a {
    color: var(--almost-white-color);
    text-decoration: none;
    font-weight: 600;
}

.registerHover:hover {
    /* Цвят на "Register" СЛЕД ховър */
    color: var(--contrast-color);
    cursor: pointer;
}
