.registrationForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 410px;
    height: 556px;
    background: transparent;
    /* Цвят на рамката на формата */
    border: 2px solid var(--contrast-color);
    border-radius: 20px;
    /* Цвят на фоновото осветление на формата :D */
    box-shadow: 0px -1px 50px 12px var(--lighter-main-color);
    background: transparent;
    backdrop-filter: blur(15px);
}

.haveAnAcount {
    position: relative;
    top: 12px;
}

.registerTitle {
    position: relative;
    top: 10px;
}